@model CRUD1._7.Models.TYPE_TRAMO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TYPE_TRAMO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idTramo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTramo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomTramo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomTramo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idenTramo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
